@font-face {
    font-family: Comfortaa;
    src: url(../fonts/Comfortaa-Light.ttf);
}

body {
    margin: 0;
}
.content {
    margin: 15px;
}
.header {
    margin: 0;
    font-family: Comfortaa;
    font-size: 60px;
    height: 190px;
    width: 100%;
    border-bottom: 5px solid #ac2925;
    float: inline;
}
.menu {
    float: right;
}
th.icon {
    text-align: center;
}
@media screen and (max-width: 480px) {

    .header {
        font-size: 38px;
    }
}